body {
  background-color: #e6e6ff;
  font-size: 1rem;
  font-family: 'Poppins', sans-serif;
}

.container {
  margin: auto;
  text-align: center;
}

.form {
    width: 50%;
    background-color: #ccccff;
    padding: 20px;
    margin: auto;
    border-radius: 2px;
    border-color: #6666ff;
    border-style: groove;
}
input {
  display: flex;
  width: 50%;
  margin: auto;
  margin-bottom: 15px;
  font-size: .7rem;
  padding: 5px;
}

label {
  width: 50%;
  margin: auto;
}

textarea {
  width: 50%;
  margin:auto;
  display: flex;
  font-size: .7rem;
}

input[type=submit] {
    width: 100px;
    margin-top: 20px;
    background-color: #ffffff;
    padding: 5px;
    text-align: center;
}

input[type=submit]:hover {
  background-color: #3333ff;
}

.custom {
  display: flex;
  padding-left: 5%;
  padding-right: 5%;
  margin: auto;
}

#activities {
  width: 200px;
  padding: 1%;
  background-color: #ccccff;
  margin-left: 20px;
  margin-right: 20px;
  padding-top: 5%;
  border-radius: 20%;
}

#p2custom {
  color: #ff0000;
  width: 150px;
  margin-top: 10px;
  margin: auto;
  font-size: 1.5rem;
}

#p3custom {
  position: relative;
  margin-right: 10px;
}
